<form action='/add_space' method='POST'>
<input type='text' name='title' placeholder='Space Name'>
<input type='text' name='description' placeholder='Description'>
<input type='text' name='price' placeholder='Price'>
<input type='text' name='user_id' placeholder='User ID'>
<input type='submit' name='Submit'>
</form>
