<h1 class="display-3">List a space!</h1>
<br>
<form style="text-align: center;" action='/add_space' method='POST'>
<input class="form-control" type="text" name="title" placeholder='Space Name'>
<br>
<br>
<input class="form-control" type='text' name='description' placeholder='Description'>
<br>
<br>
<input class="form-control" type='text' name='price' placeholder='Price'>
<br>
<br>
<input class="form-control" type='text' name='available_from' placeholder='Date from'>
<br>
<br>
<input class="form-control" type='text' name='available_to' placeholder='Date to'>
<br>
<br>
<input class="btn btn-primary" type='submit' name='Submit'>
</form>
