<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>

<body>

<h1 class="display-3">Welcome back.</h1>
<br>
<form style="text-align: center;" action='/log_in' method='POST'>
<input class="form-control" type="text" name="email" placeholder='john@email.com'>
<br>
<br>
<input class="form-control" type='password' name='password' placeholder='John123'>
<br>
<br>
<input class="btn btn-primary" type='submit' name='Submit'>
</form>
</body>
</html>

