<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in:</title>
</head>
<center>
<img src="http://static.dezeen.com/uploads/2014/07/Airbnb-rebrand-by-DesignStudio_dezeen_468_8.jpg" width="128" height="128" >

<p style="font-family:'Arial'"> Welcome back </p>
<body>
<form action='/log_in' method='POST'>
<input type="text" name="email" placeholder='Your email'>
<br>
<input type='text' name='password' placeholder='password'>
<br>
<input type='submit' name='Submit'>
</form>
</body>
</center>
</html>

