<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MakersBNB | Request a Space</title>
</head>
<body>

<div class="space-details">
              <br>
              <h2 class="text-dark text-capitalize"><%= @space.title %></h2>
              <p class="fs-4 fw-light"><%= @space.description %></p> 
              <p class="fw-bold fs-3">£<%= @space.price %> per night</p>
</div>

<div class="request-form">
  <p>Pick a night: </p>

    <form action="/requests" method="POST">
      <p>
        <label for="check_in">Check in date:</label>
        <input class="form-control" type="date" id="check_in" name="check_in">
      </p>
      <p>
        <label for="check_out">Check out date:</label>
        <input class="form-control" type="date" id="check_out" name="check_out">
      </p>
      <p>
        <input class="btn btn-primary" type="submit" name="Submit">
      </p>
    </form>
</div>


</body>
</html>
