<h1 class="display-4">Welcome to MakersBNB!</h1>
<div style="text-align: center;">
<h6>MakersBNB is the pinnacle of listing or renting a space!</h6>
<br>
<form action ="/sign_up" method="POST">
<input class="form-control" type="text" name="name" placeholder="Enter first name">
<br>
<br>
<input class="form-control" type="text" name="email" placeholder="Enter email">
<br>
<br>
<input class="form-control"  type="password" name="password" placeholder="Enter password">
<br>
<br>
<input class="form-control"  type="password" name="password2" placeholder="Re-enter password">
<br>
<br>
<input class="btn btn-primary" type="submit" name="Submit">
</form>
</div>