<div style="background-image: url('https://images.unsplash.com/photo-1501594907352-04cda38ebc29?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z29sZGVuJTIwZ2F0ZSUyMGJyaWRnZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');">
<center>
<img src="http://static.dezeen.com/uploads/2014/07/Airbnb-rebrand-by-DesignStudio_dezeen_468_8.jpg" width="128" height="128" >

<form action ="/sign_up" method="POST">
<input type="text" name="name" placeholder="Your first name">
<br>
<input type="text" name="email" placeholder="Your email">
<br>
<input type="text" name="password" placeholder="password">
<br>
<input type="text" name="password2" placeholder="re-enter your password">
<br>
<input type="submit" name="Submit">
</form>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
</center>