<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MakersBNB | Spaces</title>
</head>
<body>
  <h1 class="display-4">Available Spaces</h1>
    <%# <% if space[:availability] == "t" %> 
      <% @spaces.each do |space| %>
              <div class="spaces">
              <br>
              <h2 class="text-dark text-capitalize"><%= space.title %></h2>
              <p class="fs-4 fw-light"><%= space.description %></p> 
              <p class="fw-bold fs-3">£<%= space.price %> per night</p>
              <a href="/spaces/<%= space.id %>"><button type="button" class="btn btn-info">Request</button></a>
              </div>
      <%# <% elsif space[:availability] == "f" %> 
      <%# <% end %>
        <% end %>
</body>
</html>
